{% comment %}
    Contains import-statements for javascript, css, less.

    @param  graph   imports graph-drawing facilities
{% endcomment %}

{% block import %}

    <!-- google fonts: first in line because IE -->
    <link href='http://fonts.googleapis.com/css?family=ABeeZee&text=1234567890ABCDEFGHIJKLMNOPQRSTUVWXYZÆØÅabcdefghijklmnopqrstuvwxyzæøå%20-' rel='stylesheet' type='text/css' />

    <!-- other libraries -->
    <script src="{{ STATIC_URL }}javascripts/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}javascripts/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ STATIC_URL }}javascripts/tagit.js" type="text/javascript" charset="utf-8"></script>
    <script src="{{ STATIC_URL }}javascripts/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>

    <!-- project specific scripts -->
    <script src="{{ STATIC_URL }}javascripts/django-csrf.js"></script>
    <script src="{{ STATIC_URL }}javascripts/unifi.js"></script>
    <script src="{{ STATIC_URL }}javascripts/my.js"></script>

    {% if graph %}
        <!-- dracula dependencies -->
        <script src="{{ STATIC_URL }}javascripts/dracula/Curry-1.0.1.js"></script>
        <script src="{{ STATIC_URL }}javascripts/dracula/raphael-min.js"></script>
        <script src="{{ STATIC_URL }}javascripts/dracula/dracula_graffle.js"></script>
        <script src="{{ STATIC_URL }}javascripts/dracula/seedrandom.js"></script>
        <script src="{{ STATIC_URL }}javascripts/dracula/dracula_graph.js"></script>
        <script src="{{ STATIC_URL }}javascripts/dracula/dracula_algorithms.js"></script>
    {% endif %}

    <!-- other stylesheets -->
    <link href="{{ STATIC_URL }}stylesheets/jquery-ui.custom.css" type="text/css" rel="stylesheet" />
    <link href="{{ STATIC_URL }}stylesheets/tagit.css" type="text/css" rel="stylesheet" />
    <link href="{{ STATIC_URL }}stylesheets/tagit.css" type="text/css" rel="stylesheet" />
    <link href="{{ STATIC_URL }}stylesheets/bootstrap-responsive.min.css" type="text/css" rel="stylesheet" />
    <link href="{{ STATIC_URL }}stylesheets/bootstrap.min.css" type="text/css" rel="stylesheet" />

    <!-- less stylesheets (must be loaded prior to the less.js script!) -->
    <link href="{{ STATIC_URL }}stylesheets/unifi.less" rel="stylesheet/less" type="text/css" />

    <!-- less.js scripts -->
    <script src="{{ STATIC_URL }}javascripts/less.min.js"></script>

{% endblock %}