{% comment %}
{% endcomment %}

{% block navigation %}
<div class="bar">
    <div class="navigation">
        <!-- group -->
        <a class="button" href="/group/all">Groups</a>
        <!-- prototype -->
        <a class="button" href="/prototype/graph">Graph(Group)</a>
        <a class="button" href="/prototype/generate">Generate</a>
        <a class="button" href="/prototype/populate">Populate</a>
        <a class="button" href="/prototype/flush">Flush</a>
        <a class="button" href="/prototype/intrude">Intrude</a>
        <a class="button" href="/prototype/leave">Leave</a>
    </div>
    <div class="focus"></div>
</div>
{% endblock %}