{% comment %}
{% endcomment %}

{% block navigation %}
{% if user.is_authenticated %}
<div class="bar">
    <div class="navigation">
        <!-- my -->
        <a class="button" href="/my/">
            <i class="icon icon-home icon-white"></i>
            Din side
        </a>
        <!-- group -->
        <a class="button" href="/group/all">Andre grupper</a>
        <!-- assistance -->
        <a class="button" href="/group/assistance">Gruppene i nød</a>
        <!-- prototype -->
        <a class="button" href="/login/leave">
            Logg av
            <i class="icon icon-off icon-white"></i>
        </a>
    </div>
</div>
{% endif %}
{% endblock %}