{% comment %}
    Enable load static tag for the user image files.

    @param      pk      has to be fixed in order to display the user, or the student
{% endcomment %}


{% block status %}
<div class="bar">
    <div class="status">
        {% if user.is_authenticated %}
        <div><span class="student" pk="{{ user.pk }}">{{ user }}</span></div>
        <a href="/my"><img class="portrait" src="/static/images/users/{{ user.pk }}.png" alt="" /></a>
        {% endif %}
    </div>
</div>
{% endblock %}