{% comment %}
    Enable load static tag for the user image files.

    @param      pk      has to be fixed in order to display the user, or the person
{% endcomment %}


{% block status %}
{% if user.is_authenticated %}
<div class="bar">
    <div class="status navbar-inverse">
        <div><span class="person" pk="{{ user.pk }}">{{ user }}</span></div>
        <a href="/my"><img class="img-rounded" src="{{ STATIC_URL }}images/placeholder.png" alt="" /></a>
    </div>
</div>
{% else %}
<div class="bar" style="display: none;"></div>
{% endif %}
{% endblock %}