{% comment %}
    Enable load static tag for the user image files.

    @param      pk      has to be fixed in order to display the user, or the student
{% endcomment %}


{% block status %}
{% if user.is_authenticated %}
<div class="bar">
    <div class="status">
        <div><span class="student" pk="{{ user.pk }}">{{ user }}</span></div>
        <a href="/my"><img class="portrait" src="{{ STATIC_URL }}images/users/{{ user.pk }}.png" alt="" /></a>
    </div>
</div>
{% else %}
<div class="bar">
    <form method="POST" action="/login/enter/">{% csrf_token %}
        <div><input type="text" name="username" /></div>
        <div><input type="password" name="password" /></div>
        <div><input type="submit" /></div>
    </form>
</div>
{% endif %}
{% endblock %}