{% comment %}
    Contains import statements for javascript, css, less.
{% endcomment %}

{% block import %}

    <!-- other stylesheets -->
    <link href="/static/stylesheets/jquery-ui.custom.css" type="text/css" rel="stylesheet" />
    <link href="/static/stylesheets/tagit.css" type="text/css" rel="stylesheet" />

    <!-- less stylesheets (must be loaded prior to the less.js script!) -->
    <link href="/static/stylesheets/unifi.less" rel="stylesheet/less" type="text/css" />
    <link href="/static/stylesheets/my.less" rel="stylesheet/less" type="text/css" />

    <!-- less.js scripts -->
    <script src="/static/javascripts/less.min.js"></script>

    <!-- other libraries -->
    <script src="/static/javascripts/jquery.min.js"></script>
    <script src="/static/javascripts/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/javascripts/tag-it.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/javascripts/modal-popup.js" type="text/javascript" charset="utf-8"></script>

    {% if graph %}
    <!-- dracula dependencies -->
    <script src="/static/javascripts/dracula/Curry-1.0.1.js"></script>
    <script src="/static/javascripts/dracula/raphael-min.js"></script>
    <script src="/static/javascripts/dracula/dracula_graffle.js"></script>
    <script src="/static/javascripts/dracula/seedrandom.js"></script>
    <script src="/static/javascripts/dracula/dracula_graph.js"></script>
    <script src="/static/javascripts/dracula/dracula_algorithms.js"></script>
    {% endif %}

{% endblock %}