{% comment %}
{% endcomment %}

{% include "header.html" %}

<div class="column_container">
    <div class="logo"><span style="color: rgba(192, 0, 0, 0.75);">UN</span>IFI</div>
    <div class="greeting">
        Velkommen tilbake,
        <span style="font-style: italic;">{{ user.username }}</span>!
        Hva har du lyst å samarbeide om?
    </div>
    <div class="column" id="tagit">
        <div class="title">Nytt ønske</div>
        {% include "wish/new.html" %}
    </div>



    <!-- wishes -->
    <div class="column" id="wish">
        <div class="title">Dine ønsker
            {% if wishes|length == 0 %}
            <span class="count">ingen</span>
            {% else %}
            <span class="count">{{ wishes|length }}</span>
            {% endif %}
        </div>
        {% include "wish/wishes.html" with delete="True" %}
    </div>
    <!-- ... -->

    <!-- groups -->
    <div class="column" id="group">
        <div class="title">Dine grupper
            {% if groups|length == 0 %}
            <span class="count">ingen</span>
            {% else %}
            <span class="count">{{ groups|length }}</span>
            {% endif %}
        </div>
        {% include "group/groups.html" with controls="True" %}
    </div>
    <!-- ... -->
    
    <div class="column" id="oracle">
    {% with is_oracle="1" %}
    {% if is_oracle %}
        <div class="title">Gruppene som trenger hjelp</div>
        {% include "group/groups.html" with groups=assistance_groups %}
    {% else %}
        <h3>Du har ikke orakelstatus i systemet</h3>
    {% endif %}
    {% endwith %}
    </div>

</div>

{% include "footer.html" %} 