{% comment %}
    The instance template of the taggit-ui element that allows users to
    fill out tags for the new Wishes.
{% endcomment %}

{% block new %}
<div class="new">
    <form action="/person/wish/create" method="POST" class="tagit_form" id="tagit_form">
        {% csrf_token %}
        <ul id="mytags" class="tagit ui-widget ui-widget-content ui-corner-all">
            <li class="tagit-new"></li>
        </ul>
        <div class="btn-toolbar">
        <a href="/my/search/" class="btn btn-large btn-info span3 disabled" type="button" tabindex="3">
            <i class="icon-white icon-search pull-left"></i>
            Søk
        </a>
        <button class="btn btn-large btn-success span9 pull-right" onclick="submit()" tabindex="2">
            <i class="icon-white icon-ok pull-right"></i>
            Registrér
        </button>
        </div>
    </form>
</div>
{% endblock %}