{% comment %}
    The instance template of the taggit-ui element that allows users to
    fill out tags for the new Wishes.
{% endcomment %}

{% block new %}
<div class="new">
    <form action="/student/wish/create" method="POST" class="tagit_form">
        {% csrf_token %}
        <ul id="mytags" class="tagit ui-widget ui-widget-content ui-corner-all">
            <li class="tagit-new"></li>
        </ul>
        <input class="btn btn-large btn-block btn-success pull-right" type="submit" value="Registrér" tabindex="2" />
    </form>
</div>
{% endblock %}