<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{{ title }}</title>
    {% include "header/import.html" %}
</head>
<body>

<div class="login containter-fluid pull-right">
    <div class="row-fluid">
        <form class="form-inline" method="POST" action="/login/enter/">{% csrf_token %}
            <input name="username" type="text" class="input-small" placeholder="brukernavn" tabindex="1" />
            <input name="password" type="password" class="input-small" placeholder="passord" tabindex="2" />
            <button type="submit" class="btn" tabindex="3">Logg inn</button>
        </form>
    </div>
</div>

</body>