<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>


<h1>Setup</h1>


	<form action="." method="post">
	    <table>
	        <tr><th><label for="id_username">Username:</label></th><td><input id="id_username" type="text" name="username" maxlength="32" /></td></tr>
<tr><th><label for="id_email">Email:</label></th><td><input type="text" name="email" id="id_email" /></td></tr>
	    </table>
	    <div style='display:none'><input type='hidden' name='csrfmiddlewaretoken' value='XMYzq1p1DUYiLUe4ibFaSjL717YO7o09' /></div>
	    <input type="submit" value="save" />
	</form>




</body>
</html>