{% extends "base.html" %}

{% comment %}
    The detailed description of the group and its members.
    Visualizes age, tag relationships and custom text
    fields.
{% endcomment %}

{% block content %}

<div class="container-fluid" id="detailed">

    <div class="row-fluid">
        <h1 class="pull-right"><small>Gruppe #</small>{{ group.pk }}</h1>
        <h3>Mål <small>{{ group.goal|default:"_____________________" }}</small></h3>
    </div>

    <div class="row-fluid">
        <div class="members">
            <h2>Medlemmer <small>{{ group.persons.all|length }} / {{ group.capacity }}</small></h2>
            {% for person in group.persons.all %}
            <span class="person">{{ person.username }}</span>
            {% endfor %}
        </div>
    </div>

    <div class="row-fluid">
        <h3 class="span6">Eksisterer siden <small>{{ group.created }}</small></h3>
        <h3 class="pull-right">
            <small>{% if group.all_tags|length %}{{ group.all_tags|length }}{% endif %}</small> tagger
        </h3>
    </div>

    <div class="row-fluid">
        <div class="tags span3 pull-right" style="text-align: right;">
        {% if group.tags|length >= 1 %}
            {% if group.common_tags %}
                {% for tag in group.common_tags %}
                    <span class="tag" style="font-size: 1.2em;">{{ tag }}</span>
                {% endfor %}
            {% endif %}
            {% if group.uncommon_tags %}
                {% for tag in group.uncommon_tags %}
                    <span class="tag">{{ tag }}</span>
                {% endfor %}
            {% endif %}
        {% endif %}
        </div>
    </div>

    <hr />

    <div class="navbar">
        {% if person in group.persons.all %}
        <div class="navbar-inner">
            <a class="brand" href="#">Du er medlem</a>
            <form class="navbar-form">
                <div class="btn-group pull-right">
                    <!-- insignificant actions -->
                    <button class="btn" href="#">Redigér</button>
                    <button class="btn" href="#">Kontakt</button>
                    <button class="btn" href="#">Be om hjelp</button>
                    <button class="btn btn-warning" href="#notification" data-toggle="modal">Forlat</button>
                    <button class="btn btn-warning" href="#">Oppløs</button>
                </div>
            </form>
        </div>
        {% else %}
        <div class="navbar-inner">
            <a class="brand" href="">Gruppe {{ group.pk }}</a>
            <div class="btn-group pull-right">
                <button class="btn" href="#">Bli med</button>
                <button class="btn" href="#">Kontakt</button>
            </div>
        </div>
        {% endif %}
    </div>

    <hr />

    <div class="accordion" id="accordion">
        <div class="accordion-group">
            <!-- Description -->
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#group-description">
                    Beskrivelse <i class="icon-info-sign pull-right"></i>
                </a>
            </div>
            <div id="group-description" class="accordion-body collapse">
                <div class="accordion-inner">
                    {{ group.description }}
                </div>
            </div>
            <!-- Statistikk -->
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#group-stats">
                    Status <i class="icon-question-sign pull-right"></i>
                </a>
            </div>
            <div id="group-stats" class="accordion-body collapse">
                <div class="accordion-inner">
                    <!-- Capacity -->
                    <h4>
                        Vår gruppe er
                        {% if group.persons.all|length >= group.capacity %} lukket
                        <small>antall medlemmer på gruppa er for høyt.</small>
                        {% else %}
                        åpen <small>og vi ønsker flere medlemmer!</small>
                        {% endif %}
                    </h4>
                    <!-- age -->
                    <h4><small>Den har eksistert i</small> {{ group.created|timesince }}.</h4>
                    <!-- assistance -->
                    {% if group.needs_assistance %}
                    <h4>Vi trenger hjelp. <small>Hvis du kan noe om emnene vi jobber med, så kan du kontakte oss og hjelpe til!</small></h4>
                    {% endif %}
                    <!-- score -->
                    <div class="progress progress-striped">
                      <div class="bar" style="width: 20%;"></div>
                    </div>
                </div>
            </div>
            <!-- Wishes -->
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#group-wishes">
                    Våre ønsker <i class="icon-th-list pull-right"></i>
                </a>
            </div>
            {% if group.wishes.all|length > 1 %}
            <div id="group-wishes" class="accordion-body collapse in">
                <div class="accordion-inner">
                    <div class="span8 pull-right"><ol>
                    {% for wish in group.wishes.all %}
                    <li><div class="wish"><span class="person">{{ wish.person }}</span>
                        <div class="tags pull-right">
                        {% for tag in wish.tags.all %}
                        <span class="tag">{{ tag.name }}</span>
                        {% endfor %}
                        </div>
                    </div></li>
                    {% endfor %}
                    </ol></div>
                </div>
            </div>
            {% endif %}
            <!-- Schedule -->
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#group-schedule">
                     Kalender <i class="icon-calendar pull-right"></i>
                </a>
            </div>
            <div id="group-schedule" class="accordion-body collapse">
                <div class="accordion-inner">
                    None
                </div>
            </div>

            <!-- Contact -->
            <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#group-contact">
                     Kontakt oss<i class="icon-envelope pull-right"></i>
                </a>
            </div>
            <div id="group-contact" class="accordion-body collapse">
                <div class="accordion-inner">
                    <textarea class="span10"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>




{% endblock %}