{% comment %}
{% endcomment %}

{% block group %}

<div class="group" pk="{{ group.pk }}">
    {% if controls %}
    <!-- menu -->
    <div class="menu" pk="{{ group.pk }}">
        <div class="btn-toolbar">
            <div class="btn-group dropup">
                <button class="btn btn-mini">Endre</button>
                <button class="btn btn-mini dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li><a id="inspect">Se på</a></li>
                    <li><a id="contact">Kontakt</a></li>
                    <li><a id="require_assistance">Hjelp</a></li>
                </ul>
            </div>
            <button class="btn btn-mini pull-right" id="leave">Meld deg av</button>
        </div>
    </div>
    {% endif %}



    <div class="number">{{ group.pk }}</div>
    <!-- users -->
    {% include "student/students.html" with students=group.students.all %}
    <!-- tags -->
    {% include "tag/tags.html" with tags=group.tags  %}
</div>

{% endblock %}