{% comment %}
{% endcomment %}

{% block group %}

{% if group.age < rules.NEW_GROUP_MARKER_SECONDS %}
<div class="group group-new" pk="{{ group.pk }}">
{% elif not group.is_announced %}
<div class="group group-new" pk="{{ group.pk }}">
{% else %}
<div class="group" pk="{{ group.pk }}">
{% endif %}
    {% if controls %}
    <!-- menu -->
    <div class="hint" pk="{{ group.pk }}">
        <i class="icon icon-hand-up icon-white"></i>
    </div>

    {% if group.age < rules.NEW_GROUP_MARKER_SECONDS %}
    <div class="marker" pk="{{ group.pk }}"><i class="icon icon-star icon-white"></i></div>
    {% elif not group.is_announced %}
    <div class="marker" pk="{{ group.pk }}"><i class="icon icon-star icon-white"></i></div>
    {% endif %}

    {% if group.needs_assistance %}
    <div class="assistance" pk="{{ group.pk }}"><i class="icon icon-question-sign icon-white"></i></div>
    {% endif %}

    <div class="menu" pk="{{ group.pk }}">
        <div class="btn-toolbar">
            <div class="btn-group">
                <a href="/group/{{ group.pk }}" class="btn btn-mini" id="inspect">
                    <i class="icon-eye-open"></i>
                    Undersøk
                </a>
                <a class="btn btn-mini" id="contact" href="#contactPopup{{ group.pk }}" role="button" class="btn" data-toggle="modal">
                    <i class="icon-envelope"></i>
                    Kontakt
                </a>
                <button class="btn btn-mini btn-success
                {% if group.needs_assistance %}active{% endif %}
                " id="assist" data-toggle="button">
                    <i class="icon-question-sign icon-white"></i>
                    Be om hjelp
                </button>
            </div>
            <div class="btn-group pull-right">
                <button class="btn btn-danger btn-mini" id="leave">
                    <i class="icon-remove icon-white pull-right"></i>
                    Forlat&nbsp;&nbsp;
                </button>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="number">
        {% if group.age < rules.NEW_GROUP_MARKER_SECONDS %}
        <span class="icon">&#9733;</span>
        {% elif not group.is_announced %}
        <span class="icon">&#9733;</span>
        {% endif %}
        {{ group.pk }}
    </div>

    <!-- users -->
    <div>
    {% if join %}
        <div pk="{{ group.pk }}">
            <div class="btn-group pull-right">
                {% if person in group.persons.all %}
                <button class="btn btn-danger" id="leave">
                    <i class="icon-remove icon-white"></i>
                    Forlat&nbsp;&nbsp;
                </button>
                {% else %}
                    {% if group.is_open %}
                    <button class="btn btn-success" id="join">
                        <i class="icon-arrow-left icon-white"></i>
                        Bli med&nbsp;&nbsp;
                    </button>
                    {% endif %}
                {% endif %}
                <a class="btn btn-warning" id="contact" href="#contactPopup{{ group.pk }}" role="button" class="btn" data-toggle="modal">
                    <i class="icon-envelope icon-white"></i>
                </a>
                <a href="/group/{{ group.pk }}" class="btn btn-info" id="inspect">
                    <i class="icon-arrow-left icon-eye-open icon-white"></i>
                </a>
            </div>
        </div>
    {% endif %}

    {% include "person/persons.html" with persons=group.persons.all %}
    </div>
    <!-- tags -->
    {% if group.tags|length > 0 %}
        {% include "tag/tags.html" with tags=group.tags  %}
    {% endif %}
    <!-- join -->

    <div class="modal hide fade" id="contactPopup{{ group.pk }}" pk="{{ group.pk }}" tabindex="-1" role="dialog" aria-labelledby="contactPopup{{group.pk}}" aria-hidden="true">
    <form action="/group/{{ group.pk }}/correspondence" method="POST">{% csrf_token %}
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3>Kontakt <small>Gruppe#{{ group.pk }}</small></h3>
        </div>
        <div class="modal-body">
            <div class="row-fluid">
                <textarea rows="10" class="span12" name="message">Hei folkens, det er {{ person.user.username }}!</textarea>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn pull-left" data-dismiss="modal" aria-hidden="true">Lukk</button>
            <button type="submit" class="btn btn-primary">Send</button>
        </div>
    </form>
    </div>
</div>

{% endblock %}