{% extends "base.html" %}

{% comment %}
{% endcomment %}

{% block content %}
<div class="column_container">

    <div class="column" id="tagit">
        <h3>Nytt ønske</h3>
        {% include "wish/new.html" %}
    </div>

    <!-- wishes -->
    <div class="column">
        <h3>Dine ønsker</h3>
        <div id="wishes"></div>
    </div>
    <!-- ... -->

    <!-- groups -->
    <div class="column">
        <h3>Grupper</h3>
        <div id="groups"></div>
    </div>
    <!-- ... -->

    <!-- assist -->
    <div class="column">
        <h3>Hjelp</h3>
        <div class="assistance_search">
            <input type="text" id="assistance_search" />
            <div class="filter"></div>
        </div>
        <div id="assistance"></div>
    </div>
    <!-- ... -->

</div>
{% endblock %}