{% extends "base.html" %}

{% comment %}
{% endcomment %}

{% block content %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span7">
            <div class="marked" id="tagit">
                <h3>Nytt ønske</h3>
                {% include "wish/new.html" %}
            </div>
            <div class="divider"></div>
            <div class="marked">
                <h3>Gruppene du er med i</h3>
                <div id="groups"></div>
            </div>
        </div>
        <div class="span5">
            <div class="marked">
                <h3>Dine ønsker</h3>
                <div id="wishes"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}