{% include "header.html" %}

<!-- <form class="wish_form" method="post" action="/add/">{% csrf_token %} -->
    <div class="tagger" id="tagger">
        <span id="tag_set">
            <span class="tag">
                <span class="key">INF1010</span>
                <span class="remove">x</span>
            </span>
            <span class="tag">
                <span class="key">INF1060</span>
                <span class="remove">x</span>
            </span>
            <span class="tag">
                <span class="key">INF1500</span>
                <span class="remove">x</span>
            </span>
            <span class="tag">
                <span class="key">INF3490</span>
                <span class="remove">x</span>
            </span>

        </span>
        <input id="tag_input" class="tag_input" type="text" />
    </div>
<!-- </form> -->

{% include "footer.html" %}