{% include "header.html" %}

<ul>
{% for g in groups %}
    <li>
        <div class="group"> Group number {{ g.pk }} </div>
            <div class="tag_container">
                <div> Tags: </div>
                {% for t in g.tags.all %}
                    <div class="tag"> {{ t }} </div>
                {% endfor %}
            </div>
            <div class="student_container">
                <div> Students: </div>
                {% for s in g.students.all %}
                <div class="stud"> {{ s }} </div>

                {% endfor %}
            </div>
            <div> Oracle: </div>
            <div class="oracle">
                {{ g.oracle }}
            </div>
    </li>
{% endfor %}
</ul>

{% include "footer.html" %}
