<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{{ title }}</title>
    <script></script>

    <!-- less stylesheets (must be loaded prior to the script!) -->
    <link href="/static/stylesheets/main.less" rel="stylesheet/less" type="text/css" />

    <!-- less.js scripts -->
    <script src="/static/javascripts/less.min.js"></script>

    <!-- other libraries -->
    <script src="/static/javascripts/jquery.min.js"></script>
    <script src="/static/javascripts/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/javascripts/tag-it.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/javascripts/main.js"></script>

    <!-- dracula dependencies -->
    <script src="/static/javascripts/dracula/Curry-1.0.1.js"></script>
    <script src="/static/javascripts/dracula/raphael-min.js"></script>
    <script src="/static/javascripts/dracula/dracula_graffle.js"></script>
    <script src="/static/javascripts/dracula/seedrandom.js"></script>
    <script src="/static/javascripts/dracula/dracula_graph.js"></script>
    <script src="/static/javascripts/dracula/dracula_algorithms.js"></script>


    <link rel="stylesheet" type="text/css" href="/static/stylesheets/jquery-ui-1.8.21.custom.css">
    <link href="/static/stylesheets/jquery.tagit.css" rel="stylesheet" type="text/css">


</head>

<body>

{% include "navigator.html" %}

{% include "status.html" %}

<div class="content">
