{% block navigator %}
<div class="bar">
    <div class="navigator">
        <!-- group -->
        <div class="button"><a href="/group/allgroups">Groups</a></div>
        <!-- prototype -->
        <div class="button"><a href="/prototype/group/graph">Graph(Group)</a></div>
        <div class="button"><a href="/prototype/generate">Generate</a></div>
        <div class="button"><a href="/prototype/populate">Populate</a></div>
        <div class="button"><a href="/prototype/intrude">Intrude</a></div>
        <div class="button"><a href="/prototype/leave">Leave</a></div>
    </div>
</div>
{% endblock %}
