{% include "header.html" %}

<script type="text/javascript">
    $(document).ready(function() {
        $("#mytags").tagit({
    availableTags: ["c++", "java", "php", "javascript", "ruby", "python", "c"],
    allowSpaces: true,
    fieldName: "tags",
    itemName: "user",
    })});
</script>

<script type="text/javascript">


</script>

<div> {{ mesg }}</div>

<form action="/student/submitwish" method="POST"> {% csrf_token %}
<ul id="mytags" class="tagit ui-widget ui-widget-content ui-corner-all">
    <!-- Existing list items will be pre-added to the tags. -->
    <li class="tagit-new">
    </li>
</ul>
<input type="submit" value="Submit wish"/>
</form>

{% include "footer.html" %}
