@content-width:                   70%;

@tag-background-color:            rgba(189, 47, 47, 1);
@tag-font-color:                  white;
@person-background-color:        rgba(50, 100, 200, 1);
@person-font-color:              white;
@group-background-color:          white;
@group-font-color:                black;
@group-color:                     rgb( 230,136,33 );

.marked {
    border: 1px dashed white;
}

.login {
    background-color: #333;
    padding: 1.5em;
    border-radius: 0.4em;
    -moz-border-radius: 0.4em;
    -moz-box-shadow: 1px 1px 5px #555;
    -webkit-box-shadow: 1px 1px 5px #555;
    box-shadow: 1px 1px 5px #555;
}


/* */

body {
    font-family: Arial, sans-serif;
    padding: 2em 2em 1em 2em;
    background-image: url( "/static/images/bg.png" );

    .content {

        background-color: white;
        width: @content-width;
        padding: 2% 1% 4% 1%;
        text-align: left;
        -moz-border-radius: 0.6em;
        border-radius: 0.6em;
        -moz-box-shadow: 1px 1px 3px #555;
        -webkit-box-shadow: 1px 1px 3px #555;
        box-shadow: 1px 1px 3px #555;
    }
}

h1, h2, h3 {
  font-family: "ABeeZee", Arial, sans;
}

/*
    Model-specific applications
*/

.person {
    display: inline-block;
    cursor: pointer;
    background-color: @person-background-color;

    background-color: @person-background-color;
    background-image: -moz-linear-gradient(
      top, @person-background-color, darken( @person-background-color, 10% )
    );
    background-image: -webkit-gradient(
      linear, 0 0, 0 100%, from(@person-background-color), to(darken( @person-background-color, 10%))
    );
    background-image: -webkit-linear-gradient(
      top, @person-background-color, darken(@person-background-color, 10%)
    );
    background-image: -o-linear-gradient(top,
      @person-background-color, darken(@person-background-color, 10%)
    );
    background-image: linear-gradient(
      to bottom, @person-background-color, darken(@person-background-color, 10%)
    );

    border: 1pt solid darken(@person-background-color, 10%);

    margin: 0.1em;
    padding: 0.4em 0.75em 0.4em 0.75em;
    border-radius: 0em 0.4em 0em 0.4em;
    -moz-border-radius: 0em 0.4em 0em 0.4em;
    white-space: nowrap;

    .name {
        color: @person-font-color;
        font-size: 1.2em;
        font-style: italic;
        text-decoration: underline;
    }

    .badges {
        padding-left: 0.4em;
    }

}

.wish {

    border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    padding: 0.5em 2em 0.5em 0.5em;
    margin: 0.5em;
    border: 0.08em dotted rgba( 0, 0, 0, 0.15 );
    background-color: white;
    position: relative;

    .actions {
        cursor: pointer;
        top: 0.2em;
        right: 0.4em;
        position: absolute;
        z-index: 254;
    }
}

.new {

    padding-bottom: 3.2em;

    .tagit {
        cursor: text;
        border-radius: 0.2em;
        -moz-border-radius: 0.2em;
        padding: 0.5em 0.5em 0.5em 0.5em;
        border: 0.08em dotted rgba( 0, 0, 0, 0.15 );
    }

    ul.ui-autocomplete {
        background-color: rgba( 255, 255, 255, 0.75 );
    }

    .tagit-input {
        background-color: rgba( 0, 0, 0, 0.0 );
        border: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    .tagit-input:focus {
        background-color: rgba( 0, 0, 0, 0.0 );
        border: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
}

.group {

    background-color: white;
    border: 0.08em solid @group-color;
    border-left: 0.4em solid @group-color;
    border-right: 0.4em solid @group-color;
    margin: 0.5em;
    padding: 0.75em 0.75em 0.75em 0.75em;
    padding-bottom: 4em;
    border-radius: 0.6em;
    -moz-border-radius: 0.6em;
    position: relative;
    overflow: auto;

    .number {
        color: rgba( 0, 0, 0, 0.1 );
        position: absolute;
        bottom: 0.6em;
        right: 0.4em;
        float: right;
        font-size: 2.8em;
        font-style: italic;
        font-weight: bold;
    }

    .menu {
        background-color: @group-color;
        color: white;
        position: absolute;
        bottom: 0em;
        left: 0.75em;
        font-size: 1em;
        border-radius: 0.4em 0.4em 0em 0em;
        -moz-border-radius: 0.4em 0.4em 0em 0em;
        padding: 0.2em 1em 0em 1em;
        width: 80%;
        font-weight: bold;


        cursor: pointer;

        .control {
            background-color: orange;
            font-size: 0.8em;
            float: left;
            padding: 0.5em 0.8em 0.5em 0.8em;
            margin: 0.5em 0.5em 0em 0.5em;
            -moz-box-shadow: 1px 1px 10px orangered;
            -webkit-box-shadow: 1px 1px 10px orangered;
            box-shadow: 1px 1px 10px orangered;
            border-radius: 0.4em 0.4em 0em 0em;
            -moz-border-radius: 0.4em 0.4em 0em 0em;
        }

    }

}

.tag {
    background-color: @tag-background-color;
    color: @tag-font-color;

    background-color: @tag-background-color;
    background-image: -moz-linear-gradient(
      top, @tag-background-color, darken( @tag-background-color, 10% )
    );
    background-image: -webkit-gradient(
      linear, 0 0, 0 100%, from(@tag-background-color), to(darken( @tag-background-color, 10%))
    );
    background-image: -webkit-linear-gradient(
      top, @tag-background-color, darken(@tag-background-color, 10%)
    );
    background-image: -o-linear-gradient(top,
      @tag-background-color, darken(@tag-background-color, 10%)
    );
    background-image: linear-gradient(
      to bottom, @tag-background-color, darken(@tag-background-color, 10%)
    );

    border: 1pt solid darken(@tag-background-color, 10%);

    display: inline-block;
    padding: 0.4em 0.4em 0.4em 0.4em;
    margin: 0.15em;
    border: none;
    white-space: nowrap; /* important */

    border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    cursor: pointer;
    
    .score {
        font-family: monospace;
        font-size: 0.8em;
        float: right;
    }
    
}

/* Containers */

.persons {}

.wishes {}

.tags {

    .tag {
        display: inline-block;
        padding: 0.4em 0.4em 0.4em 0.4em;
        margin: 0.3em 0em 0.3em 0em;
        border: none;

        border-radius: 0.2em;
        -moz-border-radius: 0.2em;
        cursor: pointer;
    }
}

.groups {

    overflow: hidden;

}

/* Creation forms */



/* Control-specific applications */

.my {}


/* General interface elements */

.bar {
    display: inline;
    float: right;

    .navigation, .status, .focus {
        background-color: #111;
        color: white;
        position: fixed;
        border-radius: 0.5em;
        -moz-border-radius: 0.5em;
        padding: 0.5em;
        z-index: 500;
    }

    @navigation-height: 1em;
    .navigation {
        bottom: @navigation-height;
        right: 1em;

        a {
            color: #CCC;
            text-decoration: none;
            margin-right: 2em;
        }
    }

    .status {
        width: 10em;
        text-align: center;
        top: 1em;
        right: 1em;


        .portrait {
            padding: 0.75em;
        }
    }

    .focus {
        bottom: @navigation-height + 2.5em;
        right: 1em;
        width: 25%;
        height: 8em;
    }

}

.graph {
    background-color: rgba( 0, 0, 0, 0.1 );
    margin: 1em;
    text-align: center;
    border: 0.08em dotted rgba( 0, 0, 0, 0.1 );
}